lustre/utils/lustre.dtd

<!-- Lustre Management DTD -->

<!-- basic entities -->
<!ENTITY % basic.content '#PCDATA'>
<!ENTITY % id.content 'num | id | uuid'>

<!-- main elements -->
<!ELEMENT lustre (node | profile | mountpoint |
                  mds | obd | ost | osc | lov | router)*>

<!ELEMENT profile (mountpoint_id, service_id)>
<!ATTLIST profile id #CDATA #REQUIRED uuid #CDATA #REQUIRED>

<!ELEMENT mountpoint (mntpt, fileset, mds_id, lov_id)>
<!ATTLIST mountpoint id #CDATA #REQUIRED uuid #CDATA #REQUIRED>

<!ELEMENT node (profile_id)>
<!ATTLIST node id #CDATA #REQUIRED uuid #CDATA #REQUIRED>

<!ELEMENT mds (fstype | device | server_id | failover_id)*>
<!ATTLIST mds id #CDATA #REQUIRED uuid #CDATA #REQUIRED>

<!ELEMENT obd (fstype | device | autoformat)*>
<!ATTLIST obd id #CDATA #REQUIRED uuid #CDATA #REQUIRED
                type (obdfilter | obdext2 | obdecho) 'obdfilter'>

<!ELEMENT ost (server_id | failover_id)*>
<!ATTLIST ost id #CDATA #REQUIRED uuid #CDATA #REQUIRED>
        
<!ELEMENT osc (network)*>
<!ATTLIST osc id #CDATA #REQUIRED uuid #CDATA #REQUIRED>

<!ELEMENT lov (osc_id | obd_id | mdc_id)*>
<!ATTLIST lov id #CDATA #REQUIRED uuid #CDATA #REQUIRED>

<!ELEMENT router (misc)*>
<!ATTLIST router id #CDATA #REQUIRED uuid #CDATA #REQUIRED>

<!-- basic elements -->
<!ELEMENT network (%basic.content;)*>
<!ATTLIST network type (ip | elan | myrinet) 'ip'
                  address #CDATA 'localhost'>

<!ELEMENT fstype        (%basic.content;)*>
<!ELEMENT device        (%basic.content;)*>
<!ELEMENT server        (%basic.content;)*>
<!ELEMENT autoformat    (%basic.content;)*>
<!ELEMENT mntpt         (%basic.content;)*>
<!ELEMENT fileset       (%basic.content;)*>

<!ELEMENT profile_id    (%basic.content;)*>
<!ATTLIST profile_id    (%id.content;)* #CDATA #IMPLIED>
<!ELEMENT mds_id        (%basic.content;)*>
<!ATTLIST mds_id        (%id.content;)* #CDATA #IMPLIED>
<!ELEMENT obd_id        (%basic.content;)*>
<!ATTLIST obd_id        (%id.content;)* #CDATA #IMPLIED>
<!ELEMENT osc_id        (%basic.content;)*>
<!ATTLIST osc_id        (%id.content;)* #CDATA #IMPLIED>
<!ELEMENT lov_id        (%basic.content;)*>
<!ATTLIST lov_id        (%id.content;)* #CDATA #IMPLIED>
<!ELEMENT mdc_id        (%basic.content;)*>
<!ATTLIST mdc_id        (%id.content;)* #CDATA #IMPLIED>
<!ELEMENT mountpoint_id (%basic.content;)*>
<!ATTLIST mountpoint_id (%id.content;)* #CDATA #IMPLIED>
<!ELEMENT service_id    (%basic.content;)*>
<!ATTLIST service_id    (%id.content;)* #CDATA #IMPLIED>
<!ELEMENT server_id     (%basic.content;)*>
<!ATTLIST server_id     (%id.content;)* #CDATA #IMPLIED>
<!ELEMENT failover_id   (%basic.content;)*>
<!ATTLIST failover_id   (%id.content;)* #CDATA #IMPLIED>

