lustre/utils/lustre.dtd

<!-- Lustre Management DTD -->

<!-- basic entities -->
<!ENTITY % tag.content '(#PCDATA)'>
<!ENTITY % tag.id '(num) #CDATA #IMPLIED (name, uuid) #CDATA #REQUIRED'>
<!ENTITY % tag.attr '(name, uuid) #CDATA #REQUIRED'>

<!-- main elements -->
<!ELEMENT lustre (node | profile | mountpoint |
                  mds | obd | ost | osc | lov | router)*>

<!ELEMENT profile (mountpoint_id, service_id)>
<!ATTLIST profile %tag.attr;>
<!ELEMENT mountpoint (path, fileset, mds_id, lov_id)>
<!ATTLIST mountpoint %tag.attr;>
<!ELEMENT node (profile_id)>
<!ATTLIST node %tag.attr;>
<!ELEMENT ldlm>
<!ATTLIST ldlm %tag.attr;>

<!ELEMENT obd (fstype | device | autoformat)*>
<!ATTLIST obd %tag.attr; type (obdfilter | obdext2 | obdecho) 'obdfilter'>
<!ELEMENT ost (network | server_id | failover_id)*>
<!ATTLIST ost %tag.attr;>
<!ELEMENT mds (network | fstype | device | server_id | failover_id)*>
<!ATTLIST mds %tag.attr;>

<!ELEMENT osc (service_id)>
<!ATTLIST osc %tag.attr;>
<!ELEMENT mdc (service_id)>
<!ATTLIST mdc %tag.attr;>
<!ELEMENT lov (osc_id | obd_id | mdc_id)*>
<!ATTLIST lov %tag.attr;>
<!ELEMENT router (misc)*>
<!ATTLIST router %tag.attr;>

<!-- basic elements -->
<!ELEMENT network %tag.content;>
<!ATTLIST network type (tcp | elan | myrinet) 'tcp'>

<!ELEMENT fstype        %tag.content;>
<!ELEMENT device        %tag.content;>
<!ELEMENT server        %tag.content;>
<!ELEMENT autoformat    %tag.content;>
<!ELEMENT path          %tag.content;>
<!ELEMENT fileset       %tag.content;>

<!-- id tag elements -->
<!ELEMENT profile_id    %tag.content;>
<!ATTLIST profile_id    %tag.id;>
<!ELEMENT obd_id        %tag.content;>
<!ATTLIST obd_id        %tag.id;>
<!ELEMENT mds_id        %tag.content;>
<!ATTLIST mds_id        %tag.id;>
<!ELEMENT osc_id        %tag.content;>
<!ATTLIST osc_id        %tag.id;>
<!ELEMENT lov_id        %tag.content;>
<!ATTLIST lov_id        %tag.id;>
<!ELEMENT mdc_id        %tag.content;>
<!ATTLIST mdc_id        %tag.id;>
<!ELEMENT mountpoint_id %tag.content;>
<!ATTLIST mountpoint_id %tag.id;>
<!ELEMENT service_id    %tag.content;>
<!ATTLIST service_id    %tag.id;>
<!ELEMENT server_id     %tag.content;>
<!ATTLIST server_id     %tag.id;>
<!ELEMENT failover_id   %tag.content;>
<!ATTLIST failover_id   %tag.id;>

